.mt-large {
    margin-top: 7rem;
}
.mt-medium {
    margin-top: 5rem;
}
.mt-small {
    margin-top: 3rem;
}
.mb-large {
    margin-bottom: 7rem;
}
.mb-medium {
    margin-bottom: 5rem;
}
.mb-small {
    margin-bottom: 2rem;
}
.text-center {
    width: 100%;
    text-align: center;
}