/////////////////////////////
// COLOR
$color-grey: rgb(63, 63, 63);
$color-white: rgb(255, 255, 255);
$color-red: rgb(172, 5, 5);
$color-red-2: rgb(136, 0, 0);

$color-tab--1: rgb(220, 40, 40);
$color-tab--2: rgb(66, 173, 45);
$color-tab--3: rgb(44, 86, 202);
